* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  all: unset;
  cursor: pointer
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding-top: 30px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 87, 87);
}

body {
  font-family: 'Roboto', sans-serif, 'Rokkitt', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

#root {
  min-height: 100vh;
}


code {
  font-family: 'Roboto', sans-serif, 'Rokkitt', serif;
  ;
}

input {
  width: 700px;
  border: 1px solid rgba(232, 232, 232, 1)
}